<div class="container">
  <mat-form-field >
    <input matInput placeholder="Search Continent" [formControl]="continentControl" autocomplete="off" >
  </mat-form-field>

  <mat-card>
    <mat-card-subtitle> Select the number of Results per page </mat-card-subtitle>
    <app-results-number-selector-reactive [numberOfResultsList]="numberOfResultsList" [numberSelected$]="numberSelected$" (selectNumberEmitter)="selectNumber($event)" ></app-results-number-selector-reactive>
  </mat-card>
  <br />
  <mat-card >
    <mat-card-subtitle> Pages </mat-card-subtitle>
    <app-pagination-reactive  [pagesAvailable$]="pagesAvailable$" [selectedPage$]="selectedPage$" (selectPageEmitter)="selectPage($event)" ></app-pagination-reactive>
  </mat-card>

  <mat-list role="list" *ngIf="true" >
    <mat-list-item *ngFor="let continent of continents$ | async" > {{ continent }} </mat-list-item>
  </mat-list>
</div>
