<div class="container">
  <!-- KEY SEARCH INPUT FIELD -->
  <mat-form-field >
    <input matInput placeholder="Search Continent" [formControl]="continentControl" autocomplete="off" >
  </mat-form-field>

  <!-- NUMBER OF RESULTS -->
  <mat-card>
    <mat-card-subtitle> Select the number of Results per page </mat-card-subtitle>
    <app-number-of-results [numberOfResultsList]="numberOfResultsList" [numberSelected]="numberSelected$ | async" (selectNumberEmitter)="selectNumber($event)" ></app-number-of-results>
  </mat-card>
  <br />

  <!-- PAGINATION -->
  <mat-card >
    <mat-card-subtitle> Pages </mat-card-subtitle>
    <app-pagination  [pagesAvailable]="pagesAvailable$ | async" [selectedPage]="selectedPage$ | async" (selectPageEmitter)="selectPage($event)" ></app-pagination>
  </mat-card>

  <!-- LIST OF CONTINENTS -->
  <mat-list role="list" *ngIf="true" >
    <mat-list-item *ngFor="let continent of continents$ | async" > {{ continent }} </mat-list-item>
  </mat-list>
</div>
