<div class="container">
  <mat-form-field >
    <input matInput placeholder="Search Continent" [formControl]="continentControl" autocomplete="off">
  </mat-form-field>

  <mat-card>
    <mat-card-subtitle> Select the number of Results per page </mat-card-subtitle>
    <app-results-number-selector-state ></app-results-number-selector-state>
  </mat-card>
  <br />
  <mat-card >
    <mat-card-subtitle > Pages </mat-card-subtitle>
    <app-pagination-state ></app-pagination-state>
  </mat-card>

  <mat-list role="list" *ngIf="true" >
    <mat-list-item *ngFor="let continent of [1,2,3]" > {{ continent }} </mat-list-item>
  </mat-list>
</div>

