<div class="container" *ngIf="vm.baseModel$ | async as bm">

  <!-- KEY SEARCH INPUT FIELD -->
  <mat-form-field >
    <input matInput placeholder="Search Continent" (input)="vm.searchKeysInput$.next($event)" autocomplete="off" >
  </mat-form-field>

  <!-- NUMBER OF RESULTS -->
  <mat-card>
    <mat-card-subtitle> Select the number of Results per page </mat-card-subtitle>
    <app-number-of-results
    [numberOfResultsList]="numberOfResultsList"
    [numberSelected]="bm.numberOfResults"
    (selectNumberEmitter)="vm.selectNumberAction$.next($event)" ></app-number-of-results>
  </mat-card>
  <br />

  <!-- PAGINATION -->
  <mat-card >
    <mat-card-subtitle> Pages </mat-card-subtitle>
    <app-pagination
    [pagesAvailable]="bm.pagesAvailable"
    [selectedPage]="bm.page"
    (selectPageEmitter)="vm.selectPageAction$.next($event)" ></app-pagination>
  </mat-card>

  <!-- KEY SEARCH INPUT FIELD -->
  <mat-list role="list" *ngIf="true" >
    <mat-list-item *ngFor="let continent of bm.continentsToDisplay" > {{ continent }} </mat-list-item>
  </mat-list>
</div>
